/*============================================================================*
 * Contact
 *============================================================================*/

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p {
    margin: 0;
}
img.avatar {
    width: 180px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 8px;
    will-change: width;
    transition-property: width;
    transition-duration: 0.6s;
    transition-timing-function: linear;
}
.social-media__icon {
    width: auto;
    height: 72px;
}
.social-media__handle {
    font: 1.1em Arial, Helvetica, sans-serif;
    color: #3D5AFE;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.wrapper--avatar {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: white;
}
.wrapper--avatar img {}
.wrapper--contact-links {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: white;
}
.tile{
    width: 192px;
    height: 128px;
    margin: 1em auto;
    background-color: whitesmoke;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    will-change: border-radius;
    transition-property: border-radius;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.tile--yellow {
    background-color: #FFF176;
}
.tile--green {
    background-color: #81C784;
}
.tile--blue {
    background-color: #2196F3;
}
.tile--light-blue {
    background-color: #03A9F4;
}
.tile--cyan {
    background-color: #00BCD4;
}
.tile--purple {
    background-color: #9575CD;
}
.tile--indigo {
    background-color: #3F51B5;
}
.tile--red {
    background-color: #F44336;
}
.tile--pink {
    background-color: #F06292;
}
.tile--brown {
    background-color: #795548;
}
.tile--lime {
    background-color: #CDDC39;
}
.tile--gmail {
    background-color: #f7f5ed;
}
.tile--twitter {
    background-color: #90CAF9;
}
.tile--facebook {
    background-color: #527ace;
}
.tile--youtube {
    background-color: #cd201f;
}

/* Phones */

@media only screen and (min-width: 425px) {
    .social-media__icon {
        height: 96px;
    }
}

/* Tablets, Portrait */

@media only screen and (min-width: 768px) {
    img.avatar {
        width: 280px;
    }
    img.avatar:hover {
        width: 320px;
    }
    .social-media__icon {
        height: 108px;
    }
}

/* Tablets, landscape */
@media only screen and (min-width: 1024px) {
    .wrapper--avatar {
        float: left;
        width: 40%;
    }
    img.avatar {
        width: 360px;
        padding-top:3em;
    }
    img.avatar:hover {
        width: 400px;
    }
    .wrapper--contact-links {
        float: left;
        width: 60%;
    }
}