/*============================================================================*
 * Colors
 *============================================================================*/
:root {
    --color-primary: #3F51B5;
    --color-primary-dark: #1A237E;
    --color-primary-light: #E8EAF6;
    --color-primary-accent: #3D5AFE;
}
/*============================================================================*
 * Layout
 *============================================================================*/
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #3F51B5;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 2px 4px #1A237E;
    z-index: 2;
}
h3 {
    color: #1A237E;
    font-size: 1.3em;
    margin-left: 4px;
    padding: 16px;
    border-left: 4px solid indigo;
}

/*============================================================================*
 * Navigation
 *============================================================================*/

.navbar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #3F51B5;
    box-shadow: 0 0 4px #1A237E;
    z-index: 2;
}
.navbar__tablist {
    list-style-type: none;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}
.navbar__tab {
    float: left;
    width: 25%;
    height: inherit;
}
.navbar__tab a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 56px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #3F51B5;
}
.navbar__tab a.active,
.navbar__tab a:hover {
    background-color: #1A237E;
    color: white;
}
/*============================================================================*
 * Content
 *============================================================================*/
.content {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 56px;
    left: 0;
    z-index: 1;
    padding: 0 8px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item {
    min-height: 72px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    padding: 8px;
    margin: 4px;
    border-radius: 3px;
}

@media only screen and (min-width:1024px) {
    .list-item {
        max-width: 768px;
        margin: 4px auto;
    }
    h3 {
        text-align: center;
    }
}

@media only screen and (min-width:1440px) {
    .list-item {
        max-width: 992px;
    }
}

.list-item:hover {
    background-color: #E8EAF6;
}

.list-item__heading {
    display: inline-block;
    width: 100%;
    margin: 8px;
    font: 1.1em Arial, Helvetica, sans-serif;
    color: #3D5AFE;
    font-weight: 700;
    text-decoration: none;
}

.list-item__heading:hover {
    text-decoration: underline;
}

.list-item__text {
    margin: 0 8px;
    font: 1em Arial, Helvetica, sans-serif;
    color: black;
    text-transform: none;
}

.list-item--nested {
    margin: 8px 0;
}

.repo-title {
    text-transform: capitalize;
}