<footer>
  <div class="container">
    <form action="" class="contact-form" id="contact-form" autocomplete="off">Contact me
      <label>Name
        <input class="contact-form__control" name="name" type="text" placeholder="name" required>
      </label>
      <label>Email
        <input class="contact-form__control" name="email" type="email" placeholder="email" required>
      </label>
      <label>Subject
        <input class="contact-form__control" name="subject" type="text" placeholder="subject" required>
      </label>
      <label>Body
        <textarea class="contact-form__control" name="body" cols="80" rows="4" maxlength="320" placeholder="body" required></textarea>
      </label>
      
      <label aria-label="Submit Contact Form">
        <button class="contact-form__button" type="submit" id="contact-form__button">Submit</button>
      </label>
    </form>
  </div>
</footer>